{{>header}}
{{>navbar}}
<section class="my-5 container">
  <form method="post">
    <div class="mb-3">
      <input class="form-control" name="bookName" placeholder="book Name" />
    </div>

    <div class="mb-3">
      <button class="btn btn-primary">Search</button>
    </div>
  </form>
</section>
{{>footer}}