<p>My Profile</p>
<div *ngIf="!errFlag" class="main-div">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar>
        <img
          src="http://localhost:3000/{{ user?.image }}"
          class="header-image"
        />
      </div>
      <!-- <img src="http://localhost:3000/{{ user?.image }}" class="card-img-top" /> -->
      <mat-card-title
        ><h3>{{ user?.fName }} {{ user?.lName }}</h3></mat-card-title
      >
      <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>role Name: {{ user?.roleName }}</p>
      <p>Last Boughts:</p>
      <div class="card" *ngFor="let item of user?.boughts">
        <div class="card-body">
          <p>unit ID : {{ item?.unitId }}</p>
          <p>unit Price : {{ item?.unitPrice }}</p>
          <p>how Much Paid : {{ item?.howMuchPaid }}</p>
          <p>how Much Remain : {{ item?.howMuchRemain }}</p>
          <p>
            number Of Remaining Installments :
            {{ item?.numberOfRemainingInstallments }}
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
